.container{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    padding: 50px;
    width:1000px;
    height: 800vh;
    margin-top: -400px;
    
     border-top: 2px solid #000;    
}
