.nav {
  box-shadow: 0px 0px 5px 1px black;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0.9;
  height: 50px;
  background-color: #c1dbe0;
}
.container {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.icon {
  padding: 5px;
  color: #4c2b0d;
  font-size: 30px;
}

.icon:hover {
  filter: drop-shadow(0 0 0.75rem crimson);
  color: crimson;
}

.logo{
  display: flex;
  max-width: 10%;
  /* max-height: max-content; */ 
  height: fit-content;
  background-color: black;
  margin: 0%;
  padding: 0;
}
.hola{
  background-color: violet;
  width: 50%;
}

.right{
  display: flex;
  flex-direction:row;
  background-color: black;
}