.contRey {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* background-color: pink; */
  padding: 5px;
  height: fit-content;
  width: 100%;
}

.contMenu {
  display: flex;
  flex-direction: column;
  width: max-content;
  justify-content: space-between;
  /* background-color: aqua; */
  height: fit-content;
  margin-top: 20px;
}

.contMenu .categoriesOptions {
  display: flex;
  margin: 5px;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: rgb(76, 0, 255); */
  height: fit-content;
  width: fit-content;
  /* max-width: 300px; */
  margin-left: 30px;
}

.contMenu .categoriesOptions h3 {
  cursor: pointer;
  border-right: 1.5px solid rgba(0, 0, 0, 0.377);
  margin: 0 10px;
  font-weight: 500;
  padding-right: 10px;
  font-size: 20px;

}

.contMenu .categoriesOptions> :nth-child(2) {
  border-right: none;
  margin: 0;

  /* color: red; */
}


.contMenu .categoriesOptions h3:hover {
  /* color: red; */
  border-bottom: 2px solid rgb(255, 204, 0);
}




.contSubcategories {
  /* display: flex; */
  /* flex-direction: row; */
  margin: 20px 0px 0 0;
  width: 400px;
  display: grid;
  /* background-color: pink; */
  grid-template-columns: repeat(auto-fill, minmax(min-content, 90px));
  /* background-color: red; */
  /* margin-left: 10px; */
  gap: 5px;
  align-items: center;
  height: fit-content;
}

.contSubcategories h4 {
  line-height: 0.3px;
  /* align-items: center; */
  /* background-color: pink; */
  /* background-color: blue; */
  /* display: inline-block; */
  /* flex-direction: row; */
  margin: 15px 0px;
  cursor: pointer;
  /* padding: 0px; */
  font-weight: 500;
  font-size: 15px;
  width: fit-content;
}

.contSubcategies h4:hover {
  border-bottom: 2px solid rgb(255, 204, 0);
}