@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 40px;
  overflow: scroll;
  overflow: overlay;
}

.container {
  padding: 20px;
  border-radius: 10px;
  max-width: 1200;
  max-height: 700;
  margin: auto;
  margin-bottom: 30px;
  display: flex;
  box-shadow: 0px 0px 10px 1px black;
  /* background-image: url("../../images/mesa.jpg"); */
  min-width: 500px;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0;
}
.h2 {
  color: rgb(0, 0, 0);
  font-family: "Indie Flower", cursive;
  display: flex;
  justify-content: center;
}

/*Webkit(Chrome, Android browser, Safari, Edge...)*/
.cards::-webkit-scrollbar {
  display: none;
}
.cards:hover::-webkit-scrollbar {
  display: initial;
}
.cards::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.295);
}

.wishEvents {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  /* background-image: url("../../images/TEXTURA\ MARMOL.jfif"); */
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  
}


/* .container{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #fff;
} */
