@import url('http://fonts.cdnfonts.com/css/netflix-sans');

<<<<<<< HEAD
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 40px;
  overflow: scroll;
  overflow: overlay;
}

.container {
  padding: 20px;
  border-radius: 10px;
  max-width: 1200;
  max-height: 700;
  margin: auto;
  margin-bottom: 30px;
  display: flex;
  box-shadow: 0px 0px 10px 1px black;
  /* background-image: url("../../images/mesa.jpg"); */
  min-width: 500px;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0;
}
.h2 {
  color: rgb(0, 0, 0);
  font-family: "Indie Flower", cursive;
  display: flex;
  justify-content: center;
=======
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  margin-top: 4em;
}

.container {
  display: flex;
  /* background-color: rgb(194, 194, 194); */
  background-color: rgb(255, 204, 0);
  
  justify-items: center;
  border-radius: 5px;
  width: 60vw;
  height: auto;
  min-height: 50%;
  margin-top: 2em;
  margin-bottom: 2em;

  box-shadow: 0px -1px 63px -22px rgba(0,0,0,0.82);
  -webkit-box-shadow: 0px -1px 63px -22px rgba(0,0,0,0.82);
  -moz-box-shadow: 0px -1px 63px -22px rgba(0,0,0,0.82);
>>>>>>> 2896fe95e9656eed7e9e908d034814581cfa253e
}

.cards {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  height: fit-content;
  width: 70%;

  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 2em;
  margin-bottom: 2em;

  box-shadow: 0px -1px 63px -22px rgba(255,255,255,0.82);
  -webkit-box-shadow: 0px -1px 63px -22px rgba(255,255,255,0.82);
  -moz-box-shadow: 0px -1px 63px -22px rgba(255,255,255,0.82);
  /* background-color: red; */
}

.titulo {
  width: 50%;
  height: 100%;
  margin-left: 1em;
  color: black;
  font-family: 'Netflix Sans';
  /* background-color: greenyellow; */
}
<<<<<<< HEAD
.cards::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.295);
}

.wishEvents {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  /* background-image: url("../../images/TEXTURA\ MARMOL.jfif"); */
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  
}


/* .container{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #fff;
} */
=======

.event{
  justify-self: center;
  align-self: center;
  margin-bottom: 2em;

}

.none{
  width: 50px;
  /* color: black; */
}

@media (max-width: 1200px){
  .container{
    flex-direction: column;
  }
  .cards {
    height: auto;
    width: auto;
  }
}
>>>>>>> 2896fe95e9656eed7e9e908d034814581cfa253e
