.paginate {
  display: flex;
  margin: 20px auto;
  padding: 20px;
  justify-items: center;
  justify-content: space-around;
  width: 75%;
}

.number {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #c1dbe0;
  display: flex;
  border: solid 2px #4c2b0d;
  color: #4c2b0d;
  font-weight: bolder;
  font-size: 20px;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 0px 5px 1px black;

  transition: 0.5s;
}

.number:hover {
  cursor: pointer;
  background-color: transparent;
  color: #c1dbe0;
  border: solid 2px #c1dbe0;
}
