.contenedor {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: white;
  /* width: 90%; */
  min-width: 500px;
  max-width: 700px;
  height: 16em;
  border-radius: 5px;
  /* background-image: url('https://images.all-free-download.com/images/graphicthumb/metallica_3_138862.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: 20px; */
}

.contenedor:hover {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.726);
}

.hijo {
  background: rgb(0, 0, 1);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 50%, transparent);
  width: 100%;
  height: 35%;
  opacity: .8;
  display: table-column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 0 5px;
  max-width: 95%;
}

.hijo>* {
  margin-left: 1.5rem;
  font-size: 1em;
  color: white;
  opacity: 100%;
}

.nombre {
  margin-top: .2em;
  font-weight: bold;
  font-size: 1.5em;
  min-width: 90%;
}

.nombre:hover {
  color: white;
}

.cat {
  min-width: 100%;
}

.fecha {
  font-weight: bolder;
  color: rgb(255, 204, 0);
}

.contBtn {
  background: rgb(0, 0, 1);
  opacity: .8;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 50%, transparent);
  height: 35%;
  border-radius: 0 0 5px 0;

  cursor: pointer;
}

.boton {
  width: max-content;
  /* height: fit-content; */
  background-color: rgb(255, 204, 0);
  margin: 40px;
  opacity: 1;
  /* align-self: center; */
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  font-weight: 700;
  box-shadow: 3px 3px 10px black;
}

.link {
  text-decoration: none;
}
