.divRey {
    /* padding: 20px 20px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;
    width: 100%;
    height: fit-content;
    background-color: rgba(29, 29, 29, 0.014);
}