.contRey {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

.contSearch {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
  height: min-content;
}
.formContainer {
  display: flex;
  justify-content: space-around;
  margin-right: 8vw;
  justify-items: flex-end;
}

.input {
  font-family: inherit;
  
  outline: transparent;
  border:solid 3px rgb(97, 95, 95);;
  background-color: transparent;
  margin-bottom: 20px; 
  /* height: 30px;
  border-radius: 20px;
  margin-top: 5px; 
  width: 4cm;
  cursor: text;
  margin-right: 32px; 
  padding-left: 10px; */
}
.searchBarContainer {
  display: flex;
  align-items: center;
}


.input:hover {
  font-family: inherit;
  background: white;
  transition: 0.5s;

  color: #000;
  outline: none;
}

.input:focus {
  border: 3px solid rgb(255, 204, 0);
  background-color: white;
  width: 300px;

}
.input {
  top: 50%;
  left: 50%;
  margin-right: 20px;
  /* transform: translate(-50%, 50%); */
 border-radius: 6px;
 height: 40px;
  
}

.btn{
  height: 30px;
  border-radius: 6px;
  border:solid 2px rgb(97, 95, 95);
}

.btn:hover{
  background-color: transparent;
  box-shadow: 0px 0px 0px 0.5px rgb(97, 95, 95);
  cursor:pointer;
}
/*
.contSearch .categoriesOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
   background-color: rgb(76, 0, 255); 
  height: fit-content;
  width: 30%;
  max-width: 300px;
  margin-left: 10px;
}

.contSearch .categoriesOptions h3 {
  cursor: pointer;
  border-right: 1.5px solid rgba(0, 0, 0, 0.185);
  margin: 3px;
  font-weight: 400;
  padding-right: 10px;
}

.contSearch .categoriesOptions> :nth-child(3) {
  border-right: none;
  /* color: red; 
}


.contSearch .categoriesOptions h3:hover {
  /* color: red; 
   border-bottom: 2px solid rgb(255, 204, 0);
}


::placeholder {
  opacity: 1;
}




.contSubcategies {
  display: flex;
  flex-direction: row;
  margin: 10px 5px;
  width: 100%;
  /* background-color: red; 
  margin-left: 10px;
}

.contSubcategies h4 {
  margin: 5px 10px;
  cursor: pointer;
  font-weight: 400;
}

.contSubcategies h4:hover {
  /* color: red; 
  border-bottom: 2px solid rgb(255, 204, 0);
}
*/