.back {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  /* background-image: url("../../images/TEXTURA\ MARMOL.jfif"); */
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 150vh;
}

.container {
  width: 50%;
}

h1 {
  color: #080808;
}

span {
  color: #0a0a0a;
}

.caja {
  margin-top: 0;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

h5 {
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
  margin: auto;
  color: red;
  display: block;
}

label {
  font-weight: bolder;
  padding: 5px;
  color: #4c2b0d;
}

span {
  font-size: 15px;
  font-weight: bold;
}

.caja input {
  width: 60%;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid rgb(8, 5, 5);
  color: #4c2b0d;
}

.container form {
  align-self: center;
}

.btnCont {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cajaImg {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cajaImg img {
  width: 150px;
  max-height: 120px;
}

.btnSubmit {
  margin-top: 30px;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  background-color: #fafafa;
  border: none;
  box-shadow: 0px 0px 5px 1px #4c2b0d;
}

select {
  border: none;
  border-radius: 8px;
  font-weight: 600;
  padding: 5px 10px;
  margin-top: 20px;
}

.mostrarDiv {
  /* background-color: rgb(238, 151, 151); */
  /* display: flex;
  flex-direction: row;
  width: 500px;
  height: max-content;
  margin-top: 15px; */


  /* display: flex; */
  /* flex-direction: row; */
  margin: 20px 0px 0 0;
  width: 400px;
  display: grid;
  /* background-color: pink; */
  grid-template-columns: repeat(auto-fill, minmax(min-content, 90px));
  /* background-color: red; */
  /* margin-left: 10px; */
  gap: 5px;
  align-items: center;
  height: fit-content;
}

.checks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: rgb(167, 167, 240); */
  margin: 5px 10px;
  width: min-content;
}

.noMostrarDiv {
  display: none;
}