.divRey {
    background-color: rgb(228, 228, 228);
    width: 100%;
    height: 100vh;
    display: flex;
}

.contListaCompra {
    width: 200px;
    height: 100vh;
    background-color: rgba(209, 209, 206, 0.459);
}

.detalleCompra {
    width: 100%;
    /* padding: 150px 0 0 50px; */
    padding: 20px;
}




.pestanias {
    display: flex;
    flex-direction: row;
    background-color: transparent;

}

.pestania {
    /* background-color: blue; */
    margin: 0 0 0 10px;
    width: 100%;
    /* border-radius: 8px 8px 0 0; */
    border-bottom: 2px solid rgb(25, 182, 19);

}

.pestania h4 {
    margin: 3px;
}

.itemListaCompra {
    background-color: transparent;
    border-bottom: 2px solid rgba(128, 128, 128, 0.527);
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    margin-top: 5px;
}

.itemListaCompra:hover {
    background-color: rgba(255, 204, 0, 0.342)
}

.placeLocation {
    display: flex;
    justify-content: space-between;
}

.artistDate {
    display: flex;
    justify-content: space-between;
}

.itemListaCompra> :nth-child(1) {
    font-size: 15px;
    font-weight: 600;
}

.itemListaCompra> :nth-child(2) {
    font-size: 10px;
}


/*  ----------------------------------------------- */

.tituloTickets {
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
    width: 100%;
    /* align-items: center; */
    /* margin: auto; */
    margin-bottom: 50px;

}

.tituloTickets h3 {
    margin: 0 0 0 20px;
}

.contTicket {
    margin: 20px;
    background-color: transparent;
    /* margin-top: 100px; */
    transform: rotate(-5deg);
    z-index: 0;
}

.listaDeTickets {
    /* background-color: ; */
    width: 100%;
}

.contTicket:hover {
    transform: rotate(0deg);
    transform: scale(1.2);
    margin-left: 50px;
    z-index: 50;
    /* box-shadow: 3px 3px 6px grey; */
}

.botonImpr {
    display: flex;
    background-color: rgb(255, 204, 0);
    border-radius: 8px;
    padding: 3px;
    font-weight: 600;
    box-shadow: 3px 3px 6px grey;
    cursor: pointer;
    height: 20px;
    ;
    width: fit-content;
    padding: 4px;
}

.botonImpr p {

    margin: 0 5px;
}