@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url("../../images/TEXTURA\ MARMOL.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-content: center;
  font-family: "Indie Flower", cursive;
}

.recipe {
  width: 800px;
  height: 500px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137254902);
  margin: 40px;
  overflow: scroll;
  overflow: overlay;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
}

.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.flag {
  font-weight: bolder;
  display: block;
  text-align: center;
  padding: 5px;
  color: #4c2b0d;
}

.diet {
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  display: inline-block;
  background-color: #c1dbe0;
}

.header h2 {
  font-size: 25px;
  color: #4c2b0d;
}

.recipe::-webkit-scrollbar {
  display: none;
}
.recipe:hover::-webkit-scrollbar {
  display: initial;
}
.recipe::-webkit-scrollbar-thumb {
  background-color: rgb(181, 184, 185, 0, 8);
}

.cajita {
  justify-self: flex-end;
  padding: 10px;
}

.summary {
  display: block;
  font-size: 15px;
}
.score {
  font-weight: bolder;

  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  background-color: #c1dbe0;
  color: #4c2b0d;
  margin: 20px;
}

.header {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 70px;
}
