@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-image: url("./yellow8.jpg"); */
    /* background-blend-mode: exclusion; */
    /* backdrop-filter: brightness(60%); */
    background-size: cover;
    /* opacity: 0.7; */
    /* flex-direction: column; */
}



.forma {

    transform: translate(90%, 30%);
    position: absolute;
    width: 80vh;
    /* max-width: 900px; */
    min-width: none;
    height: 80vh;
    z-index: -100;
    /* background-color: red; */
    background-image: url('./yellow6.jpg');
    background-repeat: no-repeat;
    /* background-position: right; */
    border-radius: 50%;
}

.forma2 {

    transform: translate(-120%, -30%);
    position: absolute;
    width: 600px;
    /* max-width: 900px; */
    min-width: none;
    height: 70vh;
    z-index: -100;
    /* background-color: red; */
    background-image: url('./yellow11.jpg');
    background-repeat: no-repeat;
    /* background-position: right; */
    border-radius: 50%;
}



.data {
    /* z-index: 50; */
    /* opacity: 1; */
    margin: 2em;
    background-color: #faf3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 1em; */
    width: 40vw;
    min-width: 400px;
    height: fit-content;
    border-radius: 15px;
    /* text-align: center; */

    box-shadow: -1px 1px 19px -5px rgba(0, 0, 0, 0.81);
    -webkit-box-shadow: -1px 1px 19px -5px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: -1px 1px 19px -5px rgba(0, 0, 0, 0.81);


}


.data> :nth-child(1) {
    /* margin-top: 1.5em; */
    font-weight: bold;
    font-size: 1.5em;
    background-color: black;
    width: 100%;
    height: 300px;
    padding-top: .5vw;
    padding-bottom: .5vw;
    font-family: 'Lato', sans-serif;
}

img {
    object-fit: initial;

}

.contboth {
    width: 100%;
    /* box-shadow: 0px 0px 10px 0px rgba(56, 55, 55, 0.279) inset; */

}

.title {
    display: flex;
    font-size: calc(1em + 1.5vw);
    font-weight: 700;
    width: 95%;
    width: 100%;
    color: #000;
    justify-content: space-between;


}

.name {
    padding: 0.5em 0.5em 0.5em 0.6em;
    font-size: 1em;
    font-weight: 630;

}

.contmid {
    width: 100%;
    padding-top: 1em;
    align-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.088);
    display: flex;
    justify-content: space-between;




}

.contBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;

}

.lapiz {
    height: 80%;
    width: 70%;
    color: rgba(14, 9, 9, 0.844);
    display: flex;
    justify-content: center;
    padding: 5px;
}

.trashbin {
    display: flex;
    justify-content: center;
    width: 55%;
    height: 55%;
    margin: 5px;
    padding: 10px;


}

.link {
    color: rgba(14, 9, 9, 0.844);
    width: 80%;
    height: 70%;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;

}


.link:hover {
    box-shadow: 0px 0px 5px 1px black;

}

.trash:hover {
    box-shadow: 0px 0px 5px 1px black;

}

.trash {
    color: rgba(14, 9, 9, 0.844);
    width: 100%;
    height: 90%;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.artist {
    font-size: 3em;
    display: flex;
    align-content: center;

    height: 100%;
    padding: 0em 0em 0em 0.5em;
    width: max-content;
    font-size: calc(1em + 1.8vw);
}

.date {
    background-color: transparent;
    line-height: 1.2;
    font-size: 2em;
    border-radius: 20%;
    padding: 0 0.3em 0 0.3em;
    font-weight: 500;
    font-weight: 600;
    color: rgb(255, 204, 0);
    text-shadow: black 1px 1px 2px;
}

.time {
    font-size: 1.7em;
    width: min-content;
    padding: 0 0.3em 0 0.3em;
    font-weight: 600;

}


.cont {
    width: 100%;
}

.date_time {
    display: flex;
    justify-content: space-between;
    margin-right: 2em;
    flex-direction: column;
    justify-self: start;
    padding-bottom: 10px;
    background-color: transparent;
}

.date_time .date {
    font-size: calc(0.6em + 1vw);
}

.subcategories {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.088);
    padding: 2px;

}

.sub {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 100px));
}






.price_buy {
    display: flex;
    justify-content: space-around;
    font-size: calc(1em + 0.8vw);
    font-weight: 700;
    width: 95%;
    padding: 0 15px;
    color: #000;
    align-items: center;
}

.selectCont {
    align-items: center;
    /* background-color: red; */

}

.selectCont select {
    margin: 0;
    border: 1px solid rgba(255, 204, 0);
    font-size: 20px;
}

.price span {
    width: max-content;
    font-size: .6em;
    margin: 0px;
}

.buy {
    background-color: rgb(255, 204, 0);
    border: none;
    width: 100%;
    height: fit-content;
    padding: 5px;
    border-radius: 8px;
    font-size: .6em;
    font-weight: bold;
 
    box-shadow: 0px 0px 10px 0px #333 inset;
    text-decoration: none;
    align-items: center;
    ;
}

.buy p {
    margin: auto;
    width: fit-content;
    height: fit-content;
    color: rgba(0, 0, 17, 0.781);
}

.buy:active {
    /* background-color: black; */
    opacity: .3;
}

.buy:hover {
    box-shadow: none;
}



.btn {
    width: 2em;
    height: 2em;
    margin-right: 2em;
    margin-left: 2em;
    background-color: #e4e4e4;
    border-radius: 4px;
}

.contMapa {
    background-color: rgba(255, 204, 0, 0.404);
    /* margin: auto; */
    width: fit-content;
    height:fit-content;
    min-width: 250px;
    min-height: 200px;
    box-shadow: 0px 0px 5px 1px black;

}

.mapa {
    border-radius: 0;
    width: 30vw;
    height: 250px;
    justify-self: center;
    margin: 0;
}

.placeHolderMapa {
    /* justify-self: center; */
    /* align-items: center; */
    background-color: rgba(0, 0, 0, 0.075);
    width: 30vw;
    height: 250px;
}

.leaflet-container {
    margin: 0;
}

.contbot {
    width: 100%;
    padding: 1em 0 1em 0;

}

.place_address {
    width: max-content;
    margin-left: 5%
}

h5 {
    display: inline-block;

    color: rgb(138, 21, 21);
    width: 40%;
    padding-right: 53%;



}

.place {
    font-size: 1.5em;
    font-weight: 500;
}

.foot {
    padding-top: 1em;
    margin-top: 0.3em;
}

@media (max-width: 1200px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .contMapa {
        margin-top: 50px;
        background-color: rgba(255, 204, 0, 0.404);
        /* margin: auto; */
        width: fit-content;
        height: fit-content;
    }


    .mapa {
        border-radius: 0;
        width: fit-content;
        height: fit-content;
        min-width: 300px;
        min-height: 200px;
        justify-self: center;
        margin: 0;
    }
}

@media (max-width: 1200px) {
    .forma2 {

        transform: translate(-50%, -60%);
        transition: all;
    }

    .forma {

        transform: translate(30%, 30%);
    }
}

.select {
    background-color: transparent;
}

.select>* {
    font-size: 15px;
    font-weight: bold;
}